#!/bin/bash

sudo systemctl stop worker@*.service
sudo systemctl stop master.service

for service in ./*.service; do
  sudo cp $service /etc/systemd/system/
done

sudo systemctl daemon-reload
sudo systemctl start master.service
